body {
   background-color: #f48925;
 }
 
 .login-logo {
   height: 3rem;
   width: auto;
   margin: 5px;
 }
 .login-pic {
   height: 100%;
 }
 
 .pb-3 {
   color: black;
 }
 .title {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .candidate-card-btn{
  background-color:#15616D !important;
 }
 .candidate-card-btn:hover{
  background-color:#f48925!important;
 }
 